---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
pre {
	overflow-x: auto;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

// Import partials from `sass_dir` (defaults to `_sass`)
@import  "syntax-highlighting";
